{% extends 'aplicacionPrueba/base.html' %}

{% block boton %}<a href="{% url 'visitas_paginacion' pag=1 %}" class="top-boton"><span class="glyphicon glyphicon-chevron-left"></span></a>{% endblock %}

{% block buscador %}{% endblock %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <h1>
            Estas seguro que deseas eliminar la visita de {{ Visitante.p_apellido | upper }} {{ Visitante.p_nombre | upper  }}
        </h1>
    </div>
    <br><br>&nbsp;
    <form method="POST" class="post-form">{% csrf_token %}
    	<center><a href="{% url 'visitas_mostrar' %}" class="btn btn-warning">Cancelar</a> &nbsp;&nbsp;&nbsp;
        <button type="submit" class="btn btn-danger">Eliminar</button></center>
    </form>
</div>
{% endblock %}